#banner
	.banner_content
		%h1 Cloud Note
		%p Sync your ideas anywhere, anytime.
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "Notes app on Ruby on Rails 4 ...."
		%p.name - By Ankit Sejwal and Akshay Chawla